/.idea
/demo-ably/node_modules/
/demo-ably/platforms/
/demo-unittesting/node_modules/
/demo-unittesting/platforms/
/demo-unittesting/app/ably/ably-common/
/demo-unittesting/app/ably/ably-common/protocol
/demo-unittesting/app/ably/ably-common/test-resources/
/demo-unittesting/app/ably/client_module.js
/demo-unittesting/app/ably/shared_helper.js
/demo-unittesting/app/ably/testapp_manager.js
/demo-unittesting/app/ably/testapp_module.js
/demo-unittesting/app/ably/ably-nativescript.js
/demo-unittesting/app/tests/realtime/
/demo-unittesting/app/tests/rest/
node_modules/
platforms/
*.tar
*.tgz

/demo-unittesting/.jshintrc
